body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  color: #222;
  margin-bottom: 20px;
}

.display-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  margin-right: 30px;
}

.display-section input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #ece4e4;
  text-align: right;
  outline: none;
  box-shadow: #0a0808;
}

/* highlight the currently selected input */
.active-input {
  border-color: #010803;
  box-shadow: 0 0 10px rgba(2, 4, 10, 0.25);
}

/* result display visually distinct */
.result-display {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

/* operators */
.operator-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.op-btn {
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  cursor: pointer;
  transition: 0.3s;
}

.op-btn.active {
  background: #03448f;
}

.op-btn:hover {
  background: #8abbe6;
}

/* keypad */
.keypad-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.num-btn {
  background:  #2196F3;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.num-btn:hover {
  background:#03448f;
}

/* actions */
.action-section {
  margin-top: 10px;
}

.calc-btn, .clear-btn {
  padding: 12px 25px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.calc-btn {
  background: #0d680d;
  color: white;
}

.calc-btn:hover {
  background: #033a06;
}

.clear-btn {
  background: #f44336;
  color: white;
}

.clear-btn:hover {
  background: #5a0303;
}


